<svelte:head>
  <title>About</title>
</svelte:head>
<br>
<div class="container-fluid">
  <img class="mw-100" alt="coverflow" src="about_us.png" />
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
  <img class="mw-100" alt="coverflow" src="contact.png" />
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>