<style>
  img {
    margin: 0 0 1em 0;
    max-width: 400px;
    width: 100%;
  }
</style>

<svelte:head>
  <title>Scroll Job</title>
</svelte:head>
<!-- <div class="container-fluid">
  <img alt="Scroll Job logo" src="scrolljob_717x190.png" />
</div> 
<div class="container-fluid">
  <img class="mw-100" alt="Scroll Job logo" src="mission_550x48.png" /> 
</div>-->

<div class="container-fluid">
  <img class="mw-100" alt="Scroll Job logo" src="aliterate_job_search.png" /> 
</div>
<div class="container-fluid">
  <img class="mw-100" alt="coverflow" src="coverflow_big0.png" />
</div>
<br>
<br>
<div class="container-fluid">
  <img class="mw-100" alt="coverflow" src="did_you_know.png" />
</div>
<br>
<br>
<div class="container-fluid">
  <img class="mw-100" alt="coverflow" src="audiovisual_communication.png" />
</div>

