<script>
  import { onMount } from "svelte"
  import Swiper from "swiper"

  onMount(() => {
    /* const swiper = */ new Swiper(".swiper-container", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    })
  })
</script>

<style>
  /* body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    } */
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 600px;
  }
</style>

<svelte:head>
  <title>Prototype</title>
</svelte:head>

<div class="container-fluid">
  <h2 style="color:grey; text-align: center; font:Helvetica, sans-serif;">
    Hello World ! work in progress…
  </h2>
</div>
<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil1_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil2_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil3_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil4_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil5_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil1_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil2_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil3_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil4_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(/proto/profil5_big.png)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/1)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/2)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/3)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/4)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/5)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/6)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/7)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/8)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/9)" />
    <div
      class="swiper-slide"
      style="background-image:url(http://lorempixel.com/600/600/nature/10)" />
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination" />

</div>

<!-- Add Icons -->
<div class="container-fluid">
  <img class="mw-100" alt="coverflow" src="/proto/icones.png" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<!-- Initialize Swiper -->
